### Complete JetBrains folder (not usefull for hugo project)
.idea

# Script to generate thumbs
./utils/scale.sh

# Scriptsto generate gallry
./utils/gallery.sh
./utils/generate_gallery.bak

# Script to generate Telegram message and poll
./utils/tg_message.sh
./utils/draft_commit.sh
